{% extends 'ecom/base.html' %}
{% block body %}
<div class="container pt-90">
    <div id="paypal-button-container"></div>
</div>
<script src="https://www.paypal.com/sdk/js?client-id=AYW6-tNvPLX0eVMHgUV9y7yKRo-M-KPXGL4g_OSJ3iqOv2-OiJJUaMH6dLUIf--cjDCJVsxhs3zDE8AM&currency=USD"></script>
<script>
    var amount = '{{ amount }}'
        paypal.Buttons({
            
    // Set up the transaction
    createOrder: function(data, actions) {
        console.log(amount,'paypal',paypal)
        return actions.order.create({
            purchase_units: [{
                amount: {
                    value: parseFloat(amount).toFixed(2)
                }
            }]
        });
    },

    // Finalize the transaction
    onApprove: function(data, actions) {
        return actions.order.capture().then(function(details) {
            // Show a success message to the buyer
            console.log(details)
            $.ajax({
                type: 'POST',
                url: '{% url "paypal" %}',
                data: {details,csrfmiddlewaretoken: getCookie("csrftoken")},
                cache: false,
                success: function(json){
        
                },
                error: function(xhr, errmsg, err){

                }
            })
            // })
            // alert('Transaction completed by ' + details.payer.name.given_name + '!');
        });
    }


    }).render('#paypal-button-container');
</script>
{% endblock %}